{% extends 'base.html' %}{% load static %}

{% block extra_title %}Dashboard{% endblock %}

{% block content %}

<div class="container">
    <div id="dashboard" class="row white-box box-shadow-light-spread my-4">
        <div class="col-12">
            <h2 class="home-listview-heading text-center text-sm-start mb-4">
                Your posts dashboard
            </h2>
        </div>
        <div class="col-12 col-md-6">
            <h3 class="thin-text dashboard-heading">Submitted</h3>
            <button type="button" data-bs-toggle="popover"
                class="invisible-button"
                title="What's this?"
                data-bs-content="Submitted posts are published after a moderator has approved them.">
                <i class="far fa-question-circle"></i>
            </button>
            {% for post in waiting_posts %}
                <a href="{% url 'post_detail' post.pk post.slug  %}">
                    <h4 class="dashboard-post-title">{{ post.title }}</h4>
                </a>
            {% empty %}
            <p>No submitted posts</p>
            {% endfor %}
        </div>
        <div class="col-12 col-md-6">
            <h3 class="thin-text dashboard-heading">In Review</h3>
            <button type="button" data-bs-toggle="popover"
                class="invisible-button"
                title="What's this?"
                data-bs-content="If a moderator has requested an edit to your new post, the post will appear here.">
                <i class="far fa-question-circle"></i>
            </button>
            {% for post in reviewed_posts %}
                <a href="{% url 'edit_post' post.pk post.slug  %}">
                    <h4 class="dashboard-post-title">{{ post.title }}</h4>
                </a>
                <p>Post reviewed by {{ post.moderator }}</p>
                <p>{{ post.mod_message }}</p>
            {% empty %}
            <p>No posts in review</p>
            {% endfor %}
        </div>
        <div class="col-12">
            <h3 class="thin-text dashboard-heading">Published</h3>
            <table class="table dashboard-table">
                <tbody>
                    {% for post in approved_posts %}
                    <tr>
                        <th>{{ post.title }}</th>
                        <td>
                            <a href="{% url 'post_detail' post.pk post.slug  %}">
                                View
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'edit_post' post.pk post.slug  %}">
                                Edit
                            </a>
                        </td>
                        <td>
                            <a href="#">
                                Delete
                            </a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4">
                            No published posts (yet)
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</div>


{% endblock %}

{% block extra_js %}
    <!-- Script to initialize bootstrap popovers -->
    <script src="{% static 'js/popovers.js' %}"></script>
{% endblock %}