{% extends 'base.html' %}{% load static %}

{% block extra_title %}Dashboard{% endblock %}

{% block content %}

<div class="container">
    <div id="dashboard" class="row white-box box-shadow-light-spread my-4">
        <div class="col-12">
            <h1 class="home-listview-heading text-center text-sm-start mb-4">
                Your posts dashboard
            </h1>
        </div>
        <div class="col-12">
            <table class="table dashboard-table">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Status</th>
                        <th scope="col">View</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in posts %}
                    <tr>
                        <th>{{ post.title }}</th>
                        <td>
                            {{ post.status }}
                        </td>
                        <td>
                            <a href="{% url 'post_detail' post.pk post.slug  %}">
                                <i class="far fa-eye"></i>
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'edit_post' post.pk post.slug  %}">
                                <i class="far fa-edit"></i>
                            </a>
                        </td>
                        <td>
                            <a href="#">
                                <i class="far fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4">
                            No posts (yet)
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</div>


{% endblock %}

{% block extra_js %}
    <!-- Script to initialize bootstrap popovers -->
    <script src="{% static 'js/popovers.js' %}"></script>
{% endblock %}