{% extends 'base.html' %}{% load static %}

{% block extra_title %}Dashboard{% endblock %}

{% block content %}

<div class="container">
    <div id="dashboard" class="row white-box box-shadow-light-spread my-4">
        <div class="col-12 d-flex justify-content-between">
            <h1 class="home-listview-heading text-center text-sm-start mb-4">
                Your posts dashboard
            </h1>
            <div class="d-inline-block">
                <a href="{% url 'create_post' %}" class="btn btn-orange"><i class="fas fa-plus"></i> Add New</a>
            </div>
        </div>
        <div class="col-12">
            <table class="table dashboard-table">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Status
                            <button class="invisible-button" type="button" data-bs-toggle="modal" data-bs-target="#statusModal"
                                title="What's this?">
                                <i class="far fa-question-circle"></i>
                            </button>
                        </th>
                        <th class="text-center" scope="col">View</th>
                        <th class="text-center" scope="col">Edit</th>
                        <th class="text-center" scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in page_obj %}
                    <tr>
                        <th>{{ post.title }}</th>
                        <td>
                            {{ post.status }}
                        </td>
                        <td class="text-center">
                            {% if post.status == 'Published' %}
                            <a href="{% url 'post_detail' post.pk post.slug  %}" aria-label="Go to post detail page">
                                <i class="far fa-eye"></i>
                            </a>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            <a href="{% url 'edit_post' post.pk post.slug  %}" aria-label="Edit this post">
                                <i class="far fa-edit"></i>
                            </a>
                        </td>
                        <td class="text-center">
                            <button class="deleteBtn invisible-button" data-post-pk="{{ post.pk }}" aria-label="Delete this post">
                                <i class="far fa-trash-alt"></i>
                            </button>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4">
                            No posts (yet)
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if page_obj.has_other_pages %}
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo;</a></li>
                {% else %}
                    <li class="disabled page-item"><a href="#" class="page-link">&laquo;</a></li>
                {% endif %}
                {% for i in page_obj.paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="active page-item"><a href="#" class="page-link">{{ i }} <span class="sr-only">(current)</span></a></li>
                    {% else %}
                        <li class="page-item"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">&raquo;</a></li>
                {% else %}
                    <li class="disabled page-item"><a href="#" class="page-link">&raquo;</a></li>
                {% endif %}
            </ul>
            {% endif %}
        </div>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="statusModal" tabindex="-1" aria-labelledby="statusModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="statusModalLabel">Post Statuses</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Submitted posts are reviewed by library moderators before being published.</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Status</th>
                            <th scope="col">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row">Submitted</td>
                            <td>This post is waiting for a moderator to review it.
                                Only the author and moderators can access it.</td>
                        </tr>
                        <tr>
                            <td scope="row">Review</td>
                            <td>This post has been reviewed by a moderator and an edit has been requested.
                                You can read the moderators message on the edit page for the post.</td>
                        </tr>
                        <tr>
                            <td scope="row">Published</td>
                            <td>This post has been approved by a moderator and is published to The Library. 
                                All Library users can access it.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block extra_js %}
    <!-- Script to initialize bootstrap popovers -->
    <script src="{% static 'js/popovers.js' %}"></script>

    <!-- custom script for delete button check -->
    <script src="{% static 'js/postBtns.js' %}"></script>
{% endblock %}