{% extends 'base.html' %}


{% block content %}
<h1>{{ user.username }}'s profile page</h1>

<!-- display users names if provided -->
    {% if user.first_name and user.last_name %}
        <h2>{{ user.first_name }} {{ user.last_name }}</h2>
    {% elif user.first_name %}
        <h2>{{ user.first_name }}</h2>
    {% endif %}

    {% if user.userprofile.profile_pic %}
        <div class="profile-pic" title="Profile picture for {{user.username}}" style="background-image: url('{{ user.userprofile.profile_pic.url }}');"></div>
    {% else %}
        <div class="profile-pic" title="default profile pic" style="background-image: url('/media/images/profiles/default-profile-pic.png');"></div>
    {% endif %}

    {% if user.userprofile.bio %}
    <p>{{ user.userprofile.bio }}</p>
    {% endif %}

    {% if user.userprofile.linkedin %}
        <a
            href="{{ user.userprofile.linkedin }}"
            target="_blank"
            rel="noopener"
            aria-label="Visit my LinkedIn Profile (Opens in a new tab)"
        >LinkedIn</a>
    {% endif %}

    {% if user.userprofile.github %}
        <a 
            href="{{ user.userprofile.github }}"
            target="_blank" rel="noopener"
            aria-label="Visit my GitHub Profile (Opens in a new tab)"
        >GitHub</a>
    {% endif %}

    {% if user.userprofile.is_mod %}
        <p>* Moderator</p>
    {% endif %}

<p>Member since: {{ user.userprofile.date_joined }}</p>

{% if user == request.user %}
    <a href="{% url 'update_profile' user.pk %}">Update Profile</a>

    <h3>Posts in Review</h3>

    {% for post in reviewed_posts %}
        <a href="{% url 'post_detail' post.pk post.slug  %}">
            <h2>{{ post.title }}</h2>
        </a>
        <p>Post reviewed by {{ post.moderator }}</p>
        <p>{{ post.mod_message }}</p>
    {% empty %}
    <p>No posts in review</p>
    {% endfor %}
        
    <h3>Posts awaiting approval</h3>

    {% for post in waiting_posts %}
        <a href="{% url 'post_detail' post.pk post.slug  %}">
            <h2>{{ post.title }}</h2>
        </a>
    {% empty %}
    <p>No posts waiting for approval</p>
    {% endfor %}

{% endif %}

    <h3>Latest posts by {{ user.username }}</h3>

    {% for post in approved_posts %}
        < href="{% url 'post_detail' post.pk post.slug  %}">
            <h2>{{ post.title }}</h2>
        </>
        <p>{{ post.summary }}</p>
    {% empty %}
        <p>No published posts (yet!)</p>
    {% endfor %}

{% endblock %}