{% extends 'base.html' %}{% load static %}

{% block extra_title %}{{ user.username }}'s profile page{% endblock %}

{% block content %}

<div id="profile-pg" class="container white-box box-shadow-light-spread my-2">
    <header class="row">
        <div class="dotted-line"></div>
        <div class="col-12">
            <div id="author-pic-wrapper">
                {% if user.userprofile.profile_pic %}
                    <div class="profile-pic box-shadow-sharp"
                        style="background-image: url('{{ user.userprofile.profile_pic.url }}');"
                        title="{{ user.username }}'s profile picture"></div>
                    </a>
                {% else %}
                    <div class="profile-pic box-shadow-sharp" title="Your account"
                        style="background-image: url('/media/images/profiles/default-profile-pic.png');"
                        title="No profile picture provided"></div>
                {% endif %}
                {% if user.userprofile.is_mod %}
                <div class="moderator-icon author-badge" title="This user is a library moderator">
                    <i class="fas fa-shield-alt"></i>
                </div>
                {% endif %}
                <!-- kudos badge class returned from kudos_badge method of UserProfile model-->
                <div class="author-kudos-badge author-badge {{ user.userprofile.kudos_badge }} box-shadow-sharp"
                    title="{{ user.userprofile.kudos_badge }}">
                    <i class="far fa-star"></i>
                </div>
            </div>
        </div>
        <address class="col-12 text-center pt-4">
            {% if user.first_name and user.last_name %}
            <h1 class="display-6">{{user.first_name}} {{user.last_name}}</h1>
            {% elif user.first_name %}
            <h1 class="display-6">{{user.first_name}}</h1>
            {% endif %}
            <h2 class="thin-text">
                {% if user.userprofile.is_staff %}
                <span class="ci-username-logo-md" title="This user is a Code Institute staff member"></span>
                {% endif %}
                {{ user.username }}
            </h2>
            <p class="lead">Member since {{ user.userprofile.date_joined }}</p>
            
            {% if user.userprofile.bio %}
            <p>{{ user.userprofile.bio }}</p>
            {% endif %}

            <div class="author-social-icons">
                {% if user.userprofile.linkedin %}
                    <a href="{{ user.userprofile.linkedin }}" 
                        aria-label="Visit {{ user.userprofile.user.username }}'s linkedin profile (opens in a new tab)"
                        target="_blank" rel="noopener">
                        <i class="fab fa-linkedin"></i></a>
                {% endif %}

                {% if user.userprofile.linkedin %}
                    <a href="{{ user.userprofile.github }}" 
                        aria-label="Visit {{ user.userprofile.user.username }}'s github profile (opens in a new tab)"
                        target="_blank" rel="noopener">
                        <i class="fab fa-github-square"></i></a>
                {% endif %}
            </div>
            {% if user == request.user %}
            <div id="edit-profile">
                <a href="{% url 'update_profile' user.pk %}">
                    <i class="far fa-edit" title="Edit"></i>
                </a>
            </div>
            {% endif %}
        </address>
    </header>
    <div class="row">
        <div class="col-12">
            <div class="dotted-line mb-0 mt-3"></div>
        </div>
    </div>
</div>


{% if user == request.user %}
    <a href="{% url 'update_profile' user.pk %}">Update Profile</a>

    <h3>Posts in Review</h3>

    {% for post in reviewed_posts %}
        <a href="{% url 'edit_post' post.pk post.slug  %}">
            <h2>{{ post.title }}</h2>
        </a>
        <p>Post reviewed by {{ post.moderator }}</p>
        <p>{{ post.mod_message }}</p>
    {% empty %}
    <p>No posts in review</p>
    {% endfor %}
        
    <h3>Posts awaiting approval</h3>

    {% for post in waiting_posts %}
        <a href="{% url 'post_detail' post.pk post.slug  %}">
            <h2>{{ post.title }}</h2>
        </a>
    {% empty %}
    <p>No posts waiting for approval</p>
    {% endfor %}

{% endif %}

    <h3>Latest posts by {{ user.username }}</h3>

    {% if approved_posts.count != 0 %}
    <a href="{% url 'posts_by_author' user.pk %}">See all of {{  user.username }}'s posts</a>
    {% endif %}

    {% for post in approved_posts %}
        <a href="{% url 'post_detail' post.pk post.slug  %}">
            <h2>{{ post.title }}</h2>
        </a>
        <p>{{ post.summary }}</p>
    {% empty %}
        <p>No published posts (yet!)</p>
    {% endfor %}

{% endblock %}