{% extends 'base.html' %}
{% load static %}

{% block content %}

<div id="home-hero">
    <div class="hero-light-overlay">
        <header id="home-header" class="container">
            <div class="row d-flex align-items-center">
                <div class="col-12">
                    <h1 class="display-1 mb-4">The Library</h1>
                    <h2 class="display-4 mb-4">A repository of supporting resources<br class="d-none d-xl-block">
                        for Code Institute students. </h2>
                    <p class="display-6">Created for the community,<br>
                        by the community.</p>
                    <p class="p-larger">(And a few enthusiastic staff members)</p>
                </div>
            </div>
        </header>
    </div>
</div>

<main class="container">
    <section class="row">
        <header class="list-view-header box-shadow-light-spread mt-2 col-12 d-flex justify-content-between">
            <h2 class="m-0 home-listview-heading">Recent posts</h2>
            <div class="d-inline-block">
                <a href="{% url 'all_posts' %}" class="btn btn-teal">See all</a>
            </div>
            
        </header>
        {% for post in recent_posts %}
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                {% include 'components/post-card-full.html' %}
            </div>
        {% endfor %}
    </section>

    <section class="row">
        <header class="list-view-header box-shadow-light-spread mt-2 col-12 d-flex justify-content-between">
            <h2 class="m-0 home-listview-heading">Popular posts</h2>
            <div class="d-inline-block">
                <a href="#" class="btn btn-teal">See all</a>
            </div>
            
        </header>
        {% for post in favourite_posts %}
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                {% include 'components/post-card-full.html' %}
            </div>
        {% endfor %}
    </section>

    <section class="row list-view-header box-shadow-light-spread mt-2">
        <header class="col-12 mb-4">
            <h2 class="m-0 home-listview-heading">Search by Category</h2>
        </header>
        <div class="col-12">
            <!-- categories_nav object passed to template from posts.context_processors.py -->
            {% for category in categories_nav %}
                {% if category.posts_to_category.count > 0 %}
                <a class="btn btn-teal m-4 ms-0" href="{% url 'category' category.id category.name %}">{{ category }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </section>
</main>



{% endblock %}