{% extends 'base.html' %}


{% block content %}
<h1>All posts page</h1>

{% for post in posts %}

    <a href="{% url 'post_detail' post.pk post.slug  %}">
        <h2>{{ post.title }}</h2>
    </a>
    <p>{{ post.summary }}</p>
    <a href="{% url 'category' post.category.id post.category|slugify %}">{{ post.category }}</a>
    <p>Created by <a href="{% url 'user_profile' post.author.pk %}">{{ post.author.user.username }}</a> on {{ post.created_on }}</p>
    <p>Author kudos badge: {{ post.author.kudos_badge }}</p>
    {% if post.author.is_staff %}
        This post was created by a CI staff member (Add icon to final version instead of text)
    {% endif %}
    <p>{{ post.likes.count }} likes</p>
{% endfor %}

<!-- pagination -->
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}