{% extends 'base.html' %}

{% block content %}

<h1>Edit post page</h1>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}
    {{ form.as_p }}
    <!-- REMINDER: adjust tags field so tags options in a checklist 
    Also look into how to give user ability to add new tags -->
    <button>Post</button>
    {% if form.instance.status == 'Approved' %}
        <small>Edits to approved posts are published immediately</small>
    {% endif %}
    
</form>

{% endblock %}