{% extends 'base.html' %}{% load static %}

{% block extra_title %}Edit: {{ post.title }}{% endblock %}

{% block content %}

<div id="edit-pg" class="container white-box box-shadow-light-spread mt-2">
    <div class="row">
        {% if post.mod_message %}
        <div class="col-12">
            <div class="alert alert-info position-relative" role="alert">
                <p>Your post has been reviewed by a library moderator.
                    They have requested this change to the post before publishing.
                    Please make the requested edit and resubmit your post. Thank you!</p>
                <p><strong>Moderator message from {{ post.moderator }}:</strong></p>
                <p>{{ post.mod_message }}</p>
            </div>
        </div>
        {% endif %}
        <div class="col-12">
            <h1 class="display-5 mb-4">Edit post</h1>
        </div>
        <div class="col-12">
            <form id="edit-post-form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.media }}
                <div class="mb-3">
                    <label for="id_title" class="form-label">Post Title</label>
                    {{ form.title }}
                </div>
                <div class="mb-3">
                    <label for="id_summary" class="form-label">Post Summary</label>
                    {{ form.summary }}
                    <div class="form-text">
                        Provide a brief summary of your post here. This text will appear with your post
                        in search results.
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 position-relative mb-4">
                        <label for="id_body" class="form-label">Post main text
                            <button type="button" class="invisible-button info-btn"
                            data-bs-toggle="popover" title="Popover title"
                            data-bs-content="Enter your post text here.
                            If you insert images into the main body, you will need to
                            upload them to an image sharing website
                            like imgbb, and then link to them using the direct url.
                            To fully customize your post, you can edit the html directly
                            using the source option">
                                <i class="fas fa-info" title="More info"></i>
                            </button>
                        </label>
                        <div>
                            {{ form.body }}
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-3 mb-3 mb-md-0">
                        <label for="id_image_1" class="form-label">Image 1</label>
                        {{ form.image_1 }}
                    </div>
                    <div class="col-12 col-md-6 col-xl-3 mb-3 mb-md-0">
                        <label for="id_image_2" class="form-label">Image 2</label>
                        {{ form.image_2 }}
                    </div>
                    <div class="col-12 col-md-6 col-xl-3 mb-3 mb-md-0">
                        <label for="id_image_3" class="form-label">Image 3</label>
                        {{ form.image_3 }}
                    </div>
                    <div class="col-12 col-md-6 col-xl-3 mb-3 mb-md-0">
                        <label for="id_image_4" class="form-label">Image 4</label>
                        {{ form.image_4 }}
                    </div>
                    <div class="col-12 mb-3">
                        <div class="form-text">Load up to 4 images to go with your post.
                            These images will be displayed under the main body of your post.</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <label for="id_category" class="form-label">Category</label>
                        {{ form.category }}
                    </div>
                    <div class="col-12 col-md-6">
                        <label for="id_tags" class="form-label">Tags</label>
                        {{ form.tags }}
                    </div>
                </div>
                
                {% if form.instance.status == 'Published' %}
                    <button>Publish</button>
                    <small>Edits to previously published posts are published immediately</small>
                {% else %}
                    <button>Submit</button>
                {% endif %}
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_js %}
    <!-- custom script for bootstrap popovers -->
    <script src="{% static 'js/popovers.js' %}"></script>
    <!-- custom script to make text editor responsive -->
    <script src="{% static 'js/responsiveEditor.js' %}"></script>
{% endblock %}

Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni ipsam reprehenderit aliquam odit illum adipisci voluptates ipsa! Doloribus possimus, dignissimos soluta dolore voluptatum porro et reiciendis maiores tempore amet modi.