{% extends 'base.html' %}

{% block extra_title %}{{ pg_title }}{% endblock %}

{% block content %}

<main class="container">
    <div class="row">
        <header class="list-view-header box-shadow-light-spread mt-2 col-12">
            <div class="row">
                <div class="col-12 col-md-6">
                    <h1 class="home-listview-heading">{{ pg_title }}</h1>
                    <p class="m-0">
                        {{ page_obj.paginator.count }} result{% if page_obj.paginator.count > 1 %}s{% endif %}
                    </p>
                </div>
                <div class="col-12 col-md-6">
                    <form action="{% url 'filtered_posts' %}" method="GET">
                        <select name="category" class="form-select" aria-label="Select a category">
                            <option>Category</option>
                            {% for category in categories_nav %}
                                {% if category.posts_to_category.count > 0 %}
                                    <option 
                                        value="{{ category.pk }}"
                                        {% if category.pk|stringformat:"i" == category_pk %}selected{% endif %}
                                        >{{ category }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <select name="sort_method" class="form-select" aria-label="Select a category">
                            <option value="-created_on" {% if sort_method == "-created_on" %}selected{% endif %}>Newest</option>
                            <option value="created_on" {% if sort_method == "created_on" %}selected{% endif %}>Oldest</option>
                            <option value="likes" {% if sort_method == "likes" %}selected{% endif %}>Popular</option>
                        </select>
                        <button type="submit">Apply</button>
                    </form>
                </div>
            </div>            
        </header>

        {% for post in page_obj %}
            <div class="col-12 col-md-6 col-lg-4">
                {% include 'components/post-card-full.html' %}
            </div>
        {% endfor %}
    </div>
</main>

<!-- pagination -->
<div class="paginate container">
    <div class="row">
        <div class="col-12">
            <div class="step-links">
                <p class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </p>
                {% if page_obj.has_previous %}
                <a href="?page=1&category={{category_pk}}&sort_method={{sort_method}}" class="post-icon btn blue-btn-outline btn-thin-border m-1">
                    <i class="fas fa-chevron-left"></i><i class="fas fa-chevron-left"></i>
                    <span>first</span>
                </a>
                <a href="?page={{ page_obj.previous_page_number }}&category={{category_pk}}&sort_method={{sort_method}}"
                    class="post-icon btn blue-btn-outline btn-thin-border m-1">
                    <i class="fas fa-chevron-left"></i>
                    <span>prev</span>
                </a>
                {% endif %}

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}&category={{category_pk}}&sort_method={{sort_method}}"
                        class="post-icon btn blue-btn-outline btn-thin-border m-1">
                        <span>next</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                    <a href="?page={{ page_obj.paginator.num_pages }}&category={{category_pk}}&sort_method={{sort_method}}"
                        class="post-icon btn blue-btn-outline btn-thin-border m-1">
                        <span>last</span>
                        <i class="fas fa-chevron-right"></i><i class="fas fa-chevron-right"></i>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
    
</div>

{% endblock %}