{% extends 'base.html' %}

{% block extra_title %}{{ pg_title }}{% endblock %}

{% block content %}

<main class="container">
    <div class="row">
        <header class="list-view-header box-shadow-light-spread mt-2 col-12">
            <h1 class="home-listview-heading">{{ pg_title }}</h1>
            <p class="m-0">
                Showing {{ page_obj.start_index }}-{{ page_obj.end_index }} of {{ page_obj.paginator.count }} result{% if page_obj.paginator.count > 1 %}s{% endif %}</p>
        </header>
        {% for post in posts %}
            <div class="col-12 col-md-6 col-lg-4">
                {% include 'components/post-card-full.html' %}
            </div>
        {% endfor %}
    </div>
</main>

<!-- pagination -->
<div class="paginate container">
    <div class="row">
        <div class="col-12">
            <div class="step-links">
                <p class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </p>
                {% if page_obj.has_previous %}
                <a href="?page=1" class="post-icon btn blue-btn-outline btn-thin-border m-1">
                    <i class="fas fa-chevron-left"></i><i class="fas fa-chevron-left"></i>
                    <span>first</span>
                </a>
                <a href="?page={{ page_obj.previous_page_number }}"
                    class="post-icon btn blue-btn-outline btn-thin-border m-1">
                    <i class="fas fa-chevron-left"></i>
                    <span>prev</span>
                </a>
                {% endif %}

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}"
                        class="post-icon btn blue-btn-outline btn-thin-border m-1">
                        <span>next</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                    <a href="?page={{ page_obj.paginator.num_pages }}"
                        class="post-icon btn blue-btn-outline btn-thin-border m-1">
                        <span>last</span>
                        <i class="fas fa-chevron-right"></i><i class="fas fa-chevron-right"></i>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
    
</div>

{% endblock %}