{% extends 'base.html' %}

{% block extra_title %}{% if pg_title %}{{ pg_title }}{% else %}Filtered Results{% endif %}{% endblock %}

{% block content %}

<main class="container">
    <div class="row">
        <header class="list-view-header box-shadow-light-spread mt-2 col-12">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <h1 class="home-listview-heading">{% if pg_title %}{{ pg_title }}{% else %}Results{% endif %}</h1>
                    <p class="m-0">
                        {{ page_obj.paginator.count }} result{% if page_obj.paginator.count > 1 %}s{% endif %}
                    </p>
                </div>
                <div class="col-12 col-lg-6">
                    <form action="
                    {% if extra_filter %}
                        {% if extra_filter == 'author' %}
                            {% url 'posts_by_author' author_pk %}
                        {% endif %}
                    {% else %}
                        {% url 'filtered_posts' %}
                    {% endif %}" method="GET" id="filters">

                        <select name="category" class="form-select" aria-label="Select a category">
                            <option value="all">All</option>
                            {% for category in categories_nav %}
                                {% if category.posts_to_category.count > 0 %}
                                    <option 
                                        value="{{ category.pk }}"
                                        {% if category.pk|stringformat:"i" == category_pk %}selected{% endif %}
                                        >{{ category }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    
                        <select name="sort_method" class="form-select" aria-label="Select a category">
                            <option value="-created_on" {% if sort_method == "-created_on" %}selected{% endif %}>Newest</option>
                            <option value="created_on" {% if sort_method == "created_on" %}selected{% endif %}>Oldest</option>
                            <option value="likes" {% if sort_method == "likes" %}selected{% endif %}>Popular</option>
                        </select>

                        <select name="course_selection" id="course" class="form-select" aria-label="Select a course">
                            {% for course in courses %}
                            <option value="{{ course.id }}" {% if course_selection == course.id|stringformat:"i" %}selected{% endif %}>{{ course.name }}</option>
                            {% endfor %}
                        </select>
                    
                        <button class="btn btn-outline-blue" type="submit">Apply</button>
                    </form>
                </div>
            </div>            
        </header>

        {% for post in page_obj %}
            <div class="col-12 col-md-6 col-lg-4">
                {% include 'components/post-card-full.html' %}
            </div>
        {% endfor %}
    </div>
</main>

<!-- pagination -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="step-links">
                <p class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </p>
                {% if page_obj.has_other_pages %}
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a href="?page={{ page_obj.previous_page_number }}&category={{ request.GET.category }}&sort_method={{ request.GET.sort_method }}" class="page-link">&laquo;</a></li>
                    {% else %}
                        <li class="disabled page-item"><a href="#" class="page-link">&laquo;</a></li>
                    {% endif %}
                    {% for i in page_obj.paginator.page_range %}
                        {% if page_obj.number == i %}
                            <li class="active page-item"><a href="#" class="page-link">{{ i }} <span class="sr-only">(current)</span></a></li>
                        {% else %}
                            <li class="page-item"><a href="?page={{ i }}&category={{ request.GET.category }}&sort_method={{ request.GET.sort_method }}" class="page-link">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="page-item"><a href="?page={{ page_obj.next_page_number }}&category={{ request.GET.category }}&sort_method={{ request.GET.sort_method }}" class="page-link">&raquo;</a></li>
                    {% else %}
                        <li class="disabled page-item"><a href="#" class="page-link">&raquo;</a></li>
                    {% endif %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}