{% extends 'base.html' %}{% load static %}

{% block content %}
    
    <h1>{{ post.title }}</h1>
    
    <p>Author username: {{ post.author }} | Published: {{ post.created_on|date }}</p>   
    {% if post.updated_on %}
        <p>Last updated: {{ post.updated_on }}</p>
    {% endif %} 

    <p>Category: <a href="{% url 'category' post.category.id post.category|slugify %}">{{ post.category }}</a></p>

    <p>Tags: {% for tag in post.tags.all %}{{ tag }} {% endfor %}</p>

    {{ post.body|safe }}

    {% if post.image_1 %}<img class="post-image" src="{{ post.image_1.url }}">{% endif %}
    {% if post.image_2 %}<img class="post-image" src="{{ post.image_2.url }}">{% endif %}
    {% if post.image_3 %}<img class="post-image" src="{{ post.image_3.url }}">{% endif %}
    {% if post.image_4 %}<img class="post-image" src="{{ post.image_4.url }}">{% endif %}

    <!-- only logged in users can like/unlike posts -->
    {% if user.is_authenticated %}
    <form action="{% url 'like_post' post.pk %}" method="POST">
        {% csrf_token %}
        <button class="btn btn-sm {% if liked %} btn-primary {% else %} btn-secondary {% endif %}" type="submit">Like</button> - {{ total_likes }} likes
    </form>

    <form action="{% url 'bookmark_post' post.pk %}" method="POST">
        {% csrf_token %}
        <button class="btn btn-sm {% if bookmarked %} btn-primary {% else %} btn-secondary {% endif %}" type="submit">Bookmark</button>
    </form>

    <p>Is the content of this post inappropriate or outdated? Please let us know!</p>
    <!-- Hide this form and have it pop out as a modal if user clicks a "flag" button -->
    <form action="{% url 'post_detail' post.pk post.slug %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Send</button>
    </form>
    {% else %}
        <button class="btn btn-sm btn-disabled" disabled>Like</button> - {{ total_likes }} likes
        <br>
        <button class="btn btn-sm btn-disabled" disabled>Bookmark</button>
        <br>
        <button class="btn btn-sm btn-disabled" disabled>Flag this post</button>
        <small>Please <a href="{% url 'account_login' %}">sign in</a> to like, bookmark or flag this post</small>
    {% endif %}

    <!-- Show edit/delete buttons for author -->
    {% if post.author == user %}
        <a href="{% url 'edit_post' post.pk post.slug %}">Edit post</a>
        <button class="deleteBtn" data-post-pk="{{ post.pk }}">Delete post</button>
    {% endif %}

{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/postBtns.js' %}"></script>
{% endblock %}