{% extends 'base.html' %}{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
{% endblock %}

{% block extra_title %}{{ post.title }}{% endblock %}

{% block extra_meta %}
    <meta name="description" content="{{ post.summary }}">
    <meta name="keywords" content="{{ post.category }}{% for tag in post.tags.all %}, {{ tag }}{% endfor %}">
    <meta name="author" content="{{ author_name }}">
{% endblock %}

{% block content %}

<article id="post-detail" class="container mt-2">
    <div class="row">
        <header id="post-detail-header" class="col-12">
            <h1>{{ post.title }}</h1>
            <div class="byline">
                <address class="author d-inline-block">Written by 
                    {% if post.author.user.is_staff %}
                        <span class="ci-username-logo"></span>
                    {% endif %}
                    <a rel="author" href="{% url 'user_profile' post.author.pk %}">
                        {{ post.author.user.username }}
                    </a>
                </address> 
                <!-- 
                    on small screens show author, published and updated dates
                    on their own lines. On larger screens show them all on one
                    line separated by a | 
                -->
                <span class="d-none d-lg-inline post-info-separator">|</span><br class="d-lg-none">
                Published: <time>{{ post.created_on|date }}</time> 
                {% if post.updated_on %}
                    <span class="d-none d-lg-inline post-info-separator">|</span><br class="d-lg-none">
                    Updated: <time>{{ post.updated_on|date }}</time>
                {% endif %}
            </div>
            <div id="post-icons">

                <!-- bookmark icon shows solid if the logged in user has bookmarked the post -->
                <form action="{% url 'bookmark_post' post.pk %}" method="POST">
                    {% csrf_token %}
                    <button class="bookmark-btn post-icon" type="submit" 
                        title="{% if bookmarked %}Remove this post from bookmarks{% else %}Bookmark this post{% endif %}">
                        {% if bookmarked %}
                            <i class="fas fa-bookmark"></i>
                        {% else %}
                            <i class="far fa-bookmark"></i>
                        {% endif %}
                    </button>
                </form>

                <!-- Like icon also shows hollow or solid depending on status -->
                <form action="{% url 'like_post' post.pk %}" method="POST">
                    {% csrf_token %}
                    <button class="like-btn post-icon" type="submit" title="{% if liked %}Unlike this post{% else %}Like this post{% endif %}">
                        {% if liked %}
                            <i class="fas fa-thumbs-up"></i>
                        {% else %}
                            <i class="far fa-thumbs-up"></i>
                        {% endif %}
                    </button> {{ total_likes }}
                </form>
            </div>
        </header>
        <aside class="col-12">
            {% if post.editors_note %}
            <div id="editors-note" class="col-12">
                <strong>Editors note: {{ post.editors_note }}</strong>
            </div>
        {% endif %}
        </aside>
    </div>
</article>

Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, est odio minus repudiandae numquam vel placeat. Officia quisquam quos amet natus culpa nihil veritatis quibusdam laborum repudiandae adipisci, nisi voluptate.
    
    
    <p>Author username: <a href="{% url 'user_profile' post.author.pk %}">{{ post.author.user.username }}</a> | Published: {{ post.created_on|date }}</p>   
    {% if post.updated_on %}
        <p>Last updated: {{ post.updated_on }}</p>
    {% endif %} 

    {% if post.author.is_staff %}
        This post was created by a CI staff member (Add icon to final version instead of text)
    {% endif %}

    <p>Author kudos badge: {{ kudos_badge }}</p>

    <p>Category: <a href="{% url 'category' post.category.id post.category|slugify %}">{{ post.category }}</a></p>

    <p>Tags: {% for tag in post.tags.all %}{{ tag }} {% endfor %}</p>

    {{ post.body|safe }}

    {% if post.image_1 %}
        <a data-fancybox="gallery" href="{{ post.image_1.url }}">
            <img class="post-image" src="{{ post.image_1.url }}" alt="Image to accompany post">
        </a>
    {% endif %}

    {% if post.image_2 %}
    <a data-fancybox="gallery" href="{{ post.image_2.url }}">
        <img class="post-image" src="{{ post.image_2.url }}" alt="Image to accompany post">
    </a>
    {% endif %}

    {% if post.image_3 %}
        <a data-fancybox="gallery" href="{{ post.image_3.url }}">
            <img class="post-image" src="{{ post.image_3.url }}" alt="Image to accompany post">
        </a>
    {% endif %}

    {% if post.image_4 %}
        <a data-fancybox="gallery" href="{{ post.image_4.url }}">
            <img class="post-image" src="{{ post.image_4.url }}" alt="Image to accompany post">
        </a>
    {% endif %}

    <form action="{% url 'like_post' post.pk %}" method="POST">
        {% csrf_token %}
        <button class="btn btn-sm {% if liked %} btn-primary {% else %} btn-secondary {% endif %}" type="submit">Like</button> - {{ total_likes }} likes
    </form>

    <form action="{% url 'bookmark_post' post.pk %}" method="POST">
        {% csrf_token %}
        <button class="btn btn-sm {% if bookmarked %} btn-primary {% else %} btn-secondary {% endif %}" type="submit">Bookmark</button>
    </form>

    <p>Is the content of this post inappropriate or outdated? Please let us know!</p>
    <!-- Hide this form and have it pop out as a modal if user clicks a "flag" button -->
    <form action="{% url 'post_detail' post.pk post.slug %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Send</button>
    </form>

    <!-- Show edit/delete buttons for author -->
    {% if post.author.user == user %}
        <a href="{% url 'edit_post' post.pk post.slug %}">Edit post</a>
        <button class="deleteBtn" data-post-pk="{{ post.pk }}">Delete post</button>
    {% endif %}

{% endblock %}

{% block extra_js %}
    <!-- jQuery for fancybox -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    
    <!-- fancybox to create lightbox for images -->
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

    <!-- custom script for delete button check -->
    <script src="{% static 'js/postBtns.js' %}"></script>
{% endblock %}