/* ---------------------
As this site is for student and staff created content to complement
the CI course, the colors and fonts are taken from the 
Code Institute brand
--------------------- */

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Montserrat:wght@300;400;500&display=swap');

:root {
    --white: #ffffff;
    --orange: #e84610;
    --blue: #009fe3;
    --navy: #445261;
    --yellow: #efb920;
    --pink: #ff5a60;
    --teal: #23bbbb;
    --t-teal: rgba(35, 187, 187, 0.2);
    --lightgrey: #fafafa;
    --grey: #aaaaaa;
    --darkgrey: #4a4a4f;
    --bg-grey: #F5F5F5;
    --cta-teal: #008584;
    --cta-orange: #ea2d00;
    --cta-blue: #0074cc;
    --cta-grey: #445261;
    --cta-hover: #e6ecf0;
    --font-family-monospace: 'Courier Prime', monospace;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--bg-grey);
    color: var(--darkgrey);
}

a {
    color: var(--cta-teal);
    text-decoration: none;
    transition: color ease-in-out .4s;
}

a:hover {
    color: var(--cta-orange);
}

/* --------------------- 
    site-wide icons
--------------------- */

.ci-username-logo {
    height: 18px;
    width: 18px;
    border: 4px solid var(--orange);
    border-radius: 50%;
    display: inline-block;
    vertical-align: text-top;
}

.ci-username-logo-md {
    height: 25px;
    width: 25px;
    border: 6px solid var(--orange);
    border-radius: 50%;
    display: inline-block;
}

/* ---------------------
    Fonts and text
--------------------- */

.p-larger {
    font-size: 1.7rem;
}

.thin-text {
    font-weight: 300;
}

/* ---------------------
    Design elements
--------------------- */

.white-box {
    background-color: var(--white);
    padding: 1.5rem;
    border-radius: 8px;
}

.box-shadow-sharp {
    box-shadow: 0 2px 9px 0 rgb(0 0 0 / 20%);
    -webkit-box-shadow: 0 2px 9px 0 rgb(0 0 0 / 20%);
}

.box-shadow-light-spread {
    box-shadow: 0 0 20px 0 rgb(216 216 216 / 50%);
    -webkit-box-shadow: 0 0 20px 0 rgb(216 216 216 / 50%);
}

.dotted-line {
    border-bottom: 2px dashed var(--grey);
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.mt--1 {
    margin-top: -10px;
}


/* ---------------------
    Navbar
--------------------- */

.navbar {
    background-color: var(--white);
    padding: .2rem;
}

/*
z-index and position properties fix issue with
absolute positioned elements layering over navbar
dropdown menu.
https://stackoverflow.com/questions/16315125/position-absolute-has-greater-z-index-than-position-fixed
*/
#navbar {
    z-index: 99;
    position: relative;
}

.dropdown-menu {
    max-height: 400px;
    overflow-x: hidden;
}

.mobile-search-bar {
    border-top: 1px solid var(--grey);
    background-color: var(--grey);
    padding-top: .3rem;
    padding-bottom: .3rem;
}

/* 
ids necessary in selectors to override 
bootstrap width on search bar
*/
#navbar .responsive-search-bar,
#mobile-search .responsive-search-bar {
    width: 100%;
    max-width: 500px;
}

.right-nav {
    margin-top: 0.3rem;
}

.dropdown-header {
    font-size: 1rem;
    color: var(--darkgrey);
}

.dropdown-item,
.dropdown-item > i {
    transition: all ease-in-out .4s;
}

a.dropdown-item:hover,
a.dropdown-item:hover > i {
    color: var(--orange);
}

/* --------------------- 
    Navbar icons
--------------------- */
.navbar-icon {
    font-size: 1.5rem;
}

.create-btn-icon {
    font-size: 1.5rem;
    vertical-align: bottom;
}

.navbar-avatar {
    width: 38px;
    height: 38px;
    background-size: cover;
    border-radius: 50%;
    margin-left: .2rem;
}

#navbar .fa-plus.navbar-icon {
    color: var(--orange);
    transition: all ease-in-out .4s;
}

#navbar .fa-plus.navbar-icon:hover {
    color: var(--blue);
}

.dropdown-icon {
    font-size: 1.5rem;
    vertical-align: sub;
    color: var(--darkgrey);
    width: 50px;
    text-align: center;
}

/* ---------------------
    Navbar notifications
--------------------- */

.notification-num {
    width: 22px;
    height: 22px;
    background-color: var(--orange);
    border-radius: 50%;
    color: white;
    display: inline-block;
    font-size: small;
    position: absolute;
    left: 34px;
    top: -1px;
    text-align: center;
}

/*
Positioning of notification in navbar slightly
different to in dropdown menu
*/
#notifications .notification-num {
    left: 20px;
}

/*
Code for ringing bell animation by Fazlur Rahman
https://codepen.io/fazlurr/pen/xeXpqx
*/
#ringing-bell {
    color: var(--blue);
    -webkit-animation: ring 4s .7s ease-in-out;
    -webkit-transform-origin: 50% 4px;
    -moz-animation: ring 4s .7s ease-in-out;
    -moz-transform-origin: 50% 4px;
    animation: ring 4s .7s ease-in-out;
    transform-origin: 50% 4px;
}

@-webkit-keyframes ring {
    0% { -webkit-transform: rotateZ(0); }
    1% { -webkit-transform: rotateZ(30deg); }
    3% { -webkit-transform: rotateZ(-28deg); }
    5% { -webkit-transform: rotateZ(34deg); }
    7% { -webkit-transform: rotateZ(-32deg); }
    9% { -webkit-transform: rotateZ(30deg); }
    11% { -webkit-transform: rotateZ(-28deg); }
    13% { -webkit-transform: rotateZ(26deg); }
    15% { -webkit-transform: rotateZ(-24deg); }
    17% { -webkit-transform: rotateZ(22deg); }
    19% { -webkit-transform: rotateZ(-20deg); }
    21% { -webkit-transform: rotateZ(18deg); }
    23% { -webkit-transform: rotateZ(-16deg); }
    25% { -webkit-transform: rotateZ(14deg); }
    27% { -webkit-transform: rotateZ(-12deg); }
    29% { -webkit-transform: rotateZ(10deg); }
    31% { -webkit-transform: rotateZ(-8deg); }
    33% { -webkit-transform: rotateZ(6deg); }
    35% { -webkit-transform: rotateZ(-4deg); }
    37% { -webkit-transform: rotateZ(2deg); }
    39% { -webkit-transform: rotateZ(-1deg); }
    41% { -webkit-transform: rotateZ(1deg); }
    43% { -webkit-transform: rotateZ(0); }
    100% { -webkit-transform: rotateZ(0); }
}

@-moz-keyframes ring {
    0% { -moz-transform: rotate(0); }
    1% { -moz-transform: rotate(30deg); }
    3% { -moz-transform: rotate(-28deg); }
    5% { -moz-transform: rotate(34deg); }
    7% { -moz-transform: rotate(-32deg); }
    9% { -moz-transform: rotate(30deg); }
    11% { -moz-transform: rotate(-28deg); }
    13% { -moz-transform: rotate(26deg); }
    15% { -moz-transform: rotate(-24deg); }
    17% { -moz-transform: rotate(22deg); }
    19% { -moz-transform: rotate(-20deg); }
    21% { -moz-transform: rotate(18deg); }
    23% { -moz-transform: rotate(-16deg); }
    25% { -moz-transform: rotate(14deg); }
    27% { -moz-transform: rotate(-12deg); }
    29% { -moz-transform: rotate(10deg); }
    31% { -moz-transform: rotate(-8deg); }
    33% { -moz-transform: rotate(6deg); }
    35% { -moz-transform: rotate(-4deg); }
    37% { -moz-transform: rotate(2deg); }
    39% { -moz-transform: rotate(-1deg); }
    41% { -moz-transform: rotate(1deg); }
    43% { -moz-transform: rotate(0); }
    100% { -moz-transform: rotate(0); }
}

@keyframes ring {
    0% { transform: rotate(0); }
    1% { transform: rotate(30deg); }
    3% { transform: rotate(-28deg); }
    5% { transform: rotate(34deg); }
    7% { transform: rotate(-32deg); }
    9% { transform: rotate(30deg); }
    11% { transform: rotate(-28deg); }
    13% { transform: rotate(26deg); }
    15% { transform: rotate(-24deg); }
    17% { transform: rotate(22deg); }
    19% { transform: rotate(-20deg); }
    21% { transform: rotate(18deg); }
    23% { transform: rotate(-16deg); }
    25% { transform: rotate(14deg); }
    27% { transform: rotate(-12deg); }
    29% { transform: rotate(10deg); }
    31% { transform: rotate(-8deg); }
    33% { transform: rotate(6deg); }
    35% { transform: rotate(-4deg); }
    37% { transform: rotate(2deg); }
    39% { transform: rotate(-1deg); }
    41% { transform: rotate(1deg); }
    43% { transform: rotate(0); }
    100% { transform: rotate(0); }
}
/* end code by Fazlur Rahman */

/* ---------------------
    Footer
--------------------- */

#footer {
    background: var(--navy);
    color: var(--white);
    padding: 1rem;
}

#footer ul {
    list-style-type: none;
    padding: 0;
}

#footer > nav {
    padding: 1rem;
    font-size: 1.2rem;
}

#footer > nav > ul {
    text-align: center;
}

#footer > nav li {
    display: inline-block;
}

#footer a {
    text-decoration: none;
    color: var(--white);
    transition: all ease-in-out .4s;
}

#footer a:hover {
    text-decoration: none;
    color: var(--teal);
}

#footer h1 {
    font-size: 1.4rem;
}

#footer .social-icons {
    text-align: center;
}

#footer .social-icons > li {
    font-size: 2rem;
    display: inline-block;
    margin: .6rem;
}

#footer .social-icons i {
    transition: all ease-in-out .4s;
}

#footer .social-icons i:hover {
    color: var(--teal);
    transform: scale(1.2);
}

/*
Calculation to push footer down on small and medium screens.
See media queries for other screen sizes.
*/
#footer-push-down {
    min-height: calc(100vh - 386.4px);
}

/* ---------------------
    Buttons
--------------------- */
.btn-outline-orange {
    background-color: var(--white);
    color: var(--orange);
    border: 1px solid var(--orange);
    transition: all ease-in-out .4s;
}

.btn-outline-orange:hover {
    background-color: var(--orange);
    color: var(--white);
}

.btn-outline-blue {
    background-color: var(--white);
    color: var(--blue);
    border: 1px solid var(--blue);
    transition: all ease-in-out .4s;
}

#navbar .btn-outline-blue:hover,
#mobile-search .btn-outline-blue:hover,
#filters .btn-outline-blue:hover{
    background-color: var(--blue);
    color: var(--white);
}

.btn-teal {
    background-color: var(--white);
    color: var(--cta-teal);
    border: 3px solid var(--cta-teal);
    transition: all ease-in-out .4s;
}

.btn-teal:hover {
    background-color: var(--cta-teal);
    color: var(--white);
}

.btn-outline-teal {
    background-color: var(--white);
    color: var(--cta-teal);
    border: 3px solid var(--cta-teal);
    transition: all ease-in-out .4s;
}

.btn-outline-teal:hover {
    background-color: var(--cta-teal);
    color: var(--white);
}

/*
!important needed to override styles from '#dashboard a' selector
*/
.btn-orange {
    background-color: var(--white);
    color: var(--cta-orange)!important;
    border: 3px solid var(--cta-orange);
    transition: all ease-in-out .4s;
}

.btn-orange:hover {
    background-color: var(--cta-orange);
    color: var(--white)!important;
}

.btn-thin-border {
    border-width: 1px!important;
}

.btn-secondary {
    background-color: var(--navy);
    border-color: var(--navy);
}

.btn-secondary:hover {
    background-color: var(--cta-teal);
    border-color: var(--cta-teal);
}

.invisible-button {
    border: none;
    background-color: transparent;
}

/* ---------------------
    Home page
--------------------- */
/*
Header height 100% vh minus height of the navbar.
*/
#home-header,
#home-header > .row {
    min-height: calc(100vh - 103px);
}

/* image by mentatdgt https://www.pexels.com/photo/library-photo-1319854/ */
#home-hero {
    background-image: url('../img/bg-library.png');
    height: 100%;
    background-size: cover;
}

.hero-light-overlay {
    background-color: rgba(245, 245, 245, 0.9);
}

.list-view-header {
    background-color: var(--white);
    padding: 20px 30px;
    border-radius: 10px;
}

.home-listview-heading {
    font-size: 2rem;
    font-weight: 300;
}

/* ---------------------
    Post cards
--------------------- */

.post-card {
    background-color: var(--white);
    margin: 3rem auto 1.6rem auto;
    padding: .7rem;
    transition: all ease-in-out .4s;
    position: relative;
}

.likes {
    position: absolute;
    top: 15px;
    left: 15px;
}

.post-card:hover,
.post-card:hover .card-avatar,
.post-card:hover .category {
    box-shadow: 0 5px 14px 0 rgb(0 0 0 / 40%);
    -webkit-box-shadow: 0 5px 14px 0 rgb(0 0 0 / 40%);
}


.post-card-header {
    margin-top: 5rem;
}

.post-card-link {
    text-decoration: none;
    color: var(--cta-teal);
    transition: all ease-in-out .4s;
}

.post-card-link:hover {
    color: var(--orange);
}

.post-card-body h3 {
    font-size: 1.2rem;
}

.post-card-summary {
    font-size: .9rem;
}

.post-card-title {
    height: 70px;
}

.card-likes-icon {
    color: var(--cta-blue);
    font-size: 1.3rem;
}

.post-card-header a {
    text-decoration: none;
    color: var(--navy);
}

.post-card-circles {
    position: relative;
    width: 130px;
    margin: -45px auto 0 auto;
}

.card-avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-size: cover;
    background-color: white;
    z-index: 1;
    position: absolute;
    left: 29px;
    top: 0;
    transition: all ease-in-out .4s;
}

.card-mini-circle {
    width: 30px;
    height: 30px;
    color: var(--white);
    text-align: center;
    border-radius: 50%;
    font-size: 20px;
    line-height: 31px;
    position: absolute;
}

.card-kudos-circle {
    top: 40px;
    right: 18px;
    z-index: 2;
}

.kudos-badge-gold {background-color: #d4af37;}

.kudos-badge-silver {background-color: #aaa9ad;}

.kudos-badge-bronze {background-color: #b08d57;}

.category {
    display: inline-block;
    background-color: var(--pink);
    padding: 7px 15px;
    transition: all ease-in-out .4s;
}

.category-wrapper > a {
    color: white;
    text-decoration: none;
}

.category-wrapper > a:hover .category {
    background-color: var(--cta-teal);
}

.category-wrapper {
    margin-bottom: -31px;
}

/* ---------------------
    Post detail
--------------------- */

#post-detail-header {
    position: relative;
    padding-bottom: 1rem;
}

#post-detail-header > h1 {
    margin-bottom: 1rem;
}

#author-crud-btns {
    position: absolute;
    top: -16px;
    right: -7px;
}

#author-crud-btns button {
    background-color: var(--white);
    border: none;
}

#author-crud-btns i {
    color: var(--grey);
    font-size: 1.4rem;
    transition: all ease-in-out .4s;
}

#author-crud-btns i:hover {
    color: var(--orange);
}

.author {
    margin: 0;
}

.author > a {
    color: var(--cta-teal);
    text-decoration: none;
    transition: all ease-in-out .4s;
}

.author > a:hover {
    color: var(--cta-orange);
}

.post-info-separator {
    padding: 0 10px;
}

.post-icon {
    border: none;
    background-color: transparent;
}

.post-icon i {
    color: var(--cta-blue);
    font-size: 1.5rem;
    transition: all ease-in-out .4s;
}

.bookmark-btn {
    margin-right: 5px;
}

.blue-btn-outline {
    border: 3px solid var(--cta-blue);
    color: var(--cta-blue);
}

.blue-btn-outline > span {
    vertical-align: text-bottom;
    padding-left: 7px;
}

.blue-btn-outline:hover,
.blue-btn-outline:hover i {
    background-color: var(--cta-blue);
    color: white;
}

#bottom-post-btns > form,
#post-icons > form {
    display: inline-block;
}

#post-icons {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
}

#post-detail .category-wrapper {
    margin: 1rem 0 0 0;
    padding: 1rem;
    text-align: center;
    position: relative;
}

.category-wrapper .dotted-line {
    margin-bottom: -13px;
}

#post-detail .category {
    display: inline-block;
    margin-top: -15px;
}

#editors-note {
    padding: 1rem;
    background-color: var(--t-teal);
    color: var(--navy);
}

#editors-note > h2 {
    font-size: 1.3rem;
}

#editors-note > p {
    font-size: .9rem;
    margin: 0;
}

.post-image {
    width: 100%;
    margin-top: 1.5rem;
    transition: all ease-in-out .4s;
}

.post-image:hover {
    box-shadow: 0 5px 14px 0 rgb(0 0 0 / 40%);
    -webkit-box-shadow: 0 5px 14px 0 rgb(0 0 0 / 40%);
}

/*
Background color #eeeeee matches inline style added
by Rich Text Editor for creating posts.
*/
#post-body pre,
#post-body code {
    font-family: 'Courier Prime', monospace;
    font-size: 1.1rem;
    color: var(--cta-orange);
    background-color: #eeeeee;
    padding: 3px;
}

#post-body h1,
#post-body h2,
#post-body h3,
#post-body h4,
#post-body h5,
#post-body h6 {
    color: var(--cta-teal);
}

figure figcaption {
    text-align: center;
    margin-top: 2rem;
}

#flagModal label {
    margin-bottom: .5rem;
}

#flagModal form {
    position: relative;
    height: 150px;
}

#flagModal form button {
    display: block;
    padding: .4rem .8rem;
    border: 1px solid var(--cta-orange);
    border-radius: 4px;
    margin-bottom: .5rem;
    color: var(--cta-orange);
    background-color: var(--white);
    position: absolute;
    right: 0;
    bottom: 0;
    transition: all ease-in-out .4s;
}

#flagModal form button:hover {
    color: var(--white);
    background-color: var(--cta-orange);
}

.modal-line {
    border-top: 1px solid #dee2e6;
    margin-top: .75rem;
}

.profile-link-wrapper {
    padding: 1rem;
    position: relative;
    margin-bottom: -47px;
}

.profile-link-wrapper > a > .category {
    color: white;
}

.profile-link-wrapper > a > .category:hover {
    background-color: var(--cta-teal);
}

#author-card {
    max-width: 700px;
}

#post-author-info .author-social-icons i,
#profile-pg .author-social-icons i {
    font-size: 26px;
    color: var(--navy);
    transition: all ease-in-out .4s;
    margin: 0 .5rem;
}

#post-author-info .author-social-icons i:hover,
#profile-pg .author-social-icons i:hover {
    color: var(--orange);
}

/*
clip-path allows us to remove a box-shadow from
a single side of the box. This has been used to allow
us to put two boxes together for the author info box
on the post_detail page.
*/
#author-side-bio {
    margin-top: 3rem;
    margin-bottom: 1.6rem;
    z-index: 3;
    border-left: 2px dashed var(--grey);
    clip-path: inset(-25px -25px -25px 0px);
    padding: 1rem;
    position: relative;
}

#author-side-bio .profile-link-wrapper {
    position: absolute;
    bottom: 0;
    right: 20px;
}

/* ---------------------
    Forms
--------------------- */

#filters {
    text-align: right;
}

#filters > select {
    margin: .4rem 0;
}

#filters > button {
    display: block;
    margin-left: auto;
}

/* ---------------------
    Profile page
--------------------- */

#profile-pg {
    position: relative;
}

.profile-pic {
    width: 100px;
    height: 100px;
    background-size: cover;
    border-radius: 50%;
    margin: 0 auto;
}

#profile-pg .dotted-line {
    margin-bottom: -50px;
}

#author-pic-wrapper {
    width: 173px;
    margin: 0 auto;
    position: relative;
}

#author-pic-wrapper .author-kudos-badge {
    right: 0;
}

.moderator-icon {
    background: var(--blue);
    left: 0;
}

.author-badge {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    text-align: center;
    color: var(--white);
    font-size: 24px;
    position: absolute;
    bottom: 32px;
}

#edit-profile {
    width: 50px;
    font-size: 20px;
    text-align: right;
    position: absolute;
    top: 1rem;
    right: 2rem;
}

#edit-profile > a {
    color: var(--grey);
    transition: all ease-in-out .4s;
}

#edit-profile > a:hover {
    color: var(--navy);
}

/* ---------------------
    Profile pg post cards 
--------------------- */

#profile-pg .post-card {
    padding-top: 1.3rem;
    margin-top: 0;
    margin-bottom: 2.4rem;
}

/* ---------------------
    Profile dashboard
--------------------- */

/*
Small font size for dashboard table on extra small
screens. Media query adjusts size for small screens and up
*/
#dashboard {
    font-size: .8rem;
}

.dashboard-heading {
    display: inline-block;
}

#dashboard button {
    display: inline-block;
    vertical-align: text-bottom;
}

#dashboard button > i {
    font-size: 1.2rem;
    color: var(--grey);
}

#dashboard .dashboard-post-title {
    font-size: 1rem;
}

#dashboard a,
#dashboard .deleteBtn > i {
    color: var(--cta-teal);
    transition: all ease-in-out .4s;
    text-decoration: none;
}

#dashboard a:hover,
#dashboard .deleteBtn > i:hover {
    color: var(--darkgrey);
}

#dashboard .active a.page-link {
    color: white;
    background-color: var(--cta-teal);
}

.dashboard-table th {
    font-weight: normal;
}

#narrow-screen > img {
    max-width: 100%;
}

/* ---------------------
    Create & Edit Post pgs
--------------------- */

/*
css for input and select fields in form taken from bootstrap 5
'form-control' class. As a way to avoid needing to apply
the class to every input field in forms.py
(Currently crispy-forms and django-bootstrap installations
are still set to bootstrap 4)
*/
#edit-post-form input,
#edit-post-form textarea,
#modMessageForm textarea {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#edit-post-form input[type=file] {
    border: none;
    padding: 0;
}

/*
overrides ckeditor style to make it responsive. Works
together with js code in responsiveEditor.js file.
*/
.django-ckeditor-widget {
    width: 100%
}

.info-btn {
    color: var(--cta-blue);
}

#id_category {
    max-width: 250px;
}

#edit-post-form input[type=checkbox] {
    appearance: auto;
    -webkit-appearance: auto;
    width: auto;
    display: inline-block;
}

#edit-post-form li {
    list-style-type: none;
}

/*
Two columns for small screens, see media queries for
larger screen sizes.
*/
#id_tags {
    padding: 0;
}

#id_tags > li {
    display: inline-block;
    padding-left: 1rem;
}

.form-heading {
    float: left;
    width: 100%;
    padding: 0;
    margin-bottom: .5rem;
    margin-top: 1rem;
    font-size: calc(1.275rem + .3vw);
    line-height: inherit;
}

/* ---------------------
    Bookmarks pg 
--------------------- */

.bookmark-sort-form {
    display: none;
}

/* ---------------------
    Media Queries 
--------------------- */

@media (max-width: 440px) {
    .dashboard-table {
        display: none;
    }
}

@media (min-width: 440px) {
    #narrow-screen {
        display: none;
    }
    .dashboard-table {
        display: table;
    }
    .bookmark-sort-form {
        display: block;
    }
}

@media (min-width: 370px) {
    .navbar-avatar {
        margin-left: 1rem;
    }
}

@media (min-width: 475px) {
    #dashboard {
        font-size: 1rem;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    #filters > select {
        display: inline-block;
        max-width: 49.5%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #footer-push-down {
        min-height: calc(100vh - 385.19px);
    }
    #home-header,
    #home-header > .row {
        min-height: calc(100vh - 54.4px);
    }
    .post-card {
        max-width: 100%;
    }
    .summary-and-likes {
        height: 120px;
    }
    #post-author-info {
        clip-path: inset(-40px 0px -40px -40px);
    }
    /*
    Overrides hover that was only affecting one side of the
    author info card for med screens and higher. After many
    */
    #post-author-info:hover {
        box-shadow: 0 2px 9px 0 rgb(0 0 0 / 20%);
        -webkit-box-shadow: 0 2px 9px 0 rgb(0 0 0 / 20%);
    }

    #filters > select {
        display: inline-block;
        max-width: 43.8%;
    }
    #filters > button {
        display: inline-block;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    #footer-push-down {
        min-height: calc(100vh - 361.19px);
    }

    .summary-and-likes {
        height: 140px;
    }

    #filters {
        margin-top: 2rem;
    }
    
    #filters > select {
        display: inline-block;
        max-width: 170px;
        margin: 0;
    }    
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    #footer-push-down {
        min-height: calc(100vh - 337.19px);
    }
    .summary-and-likes {
        height: 120px;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    #footer-push-down {
        min-height: calc(100vh - 337.19px);
    }
    .summary-and-likes {
        height: 100px;
    }
}