{% load static %}

<footer id="footer">
    <nav>
        <ul>
            <li>
                <a href="{% url 'all_posts' %}">All Posts</a> |
            </li>
            <li>
                <a href="#">Categories</a> |
            </li>
            <li>
                <a href="#">Search</a>
            </li>
        </ul>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <h1>Policies</h1>
                <ul>
                    <li>
                        <a href="#">Terms and Conditions</a>
                    </li>
                    <li>
                        <a href="#">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#">Plagiarism Policy</a>
                    </li>
                    <li>
                        <a href="#">FAQs</a>
                    </li>
                </ul>
                
            </div>
            <div class="col-12 col-md-6">
                <h1>About</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, omnis fuga cupiditate sit
                    perferendis culpa at vitae officiis molestias, dolores nihil repellendus odio? Praesentium voluptas
                    iusto numquam incidunt error unde?
                </p>
            </div>
        </div>
    </div>
    <ul class="social-icons">
        <li>
            <a href="#" rel="noopener" target="_blank"
                aria-label="Visit our Facebook page (Opens in a new tab)"><i class="fab fa-facebook-f"></i></a>
        </li>
        <li>
            <a href="#" rel="noopener" target="_blank"
                aria-label="Visit our Twitter page (Opens in a new tab)"><i class="fab fa-twitter"></i></a>
        </li>
        <li>
            <a href="#" rel="noopener" target="_blank"
                aria-label="Visit our LinkedIn page (Opens in a new tab)"><i class="fab fa-linkedin-in"></i></a>
        </li>
        <li>
            <a href="#" rel="noopener" target="_blank"
                aria-label="Visit our GitHub page (Opens in a new tab)"><i class="fab fa-github-alt"></i></a>
        </li>
    </ul>
</footer>