{% extends 'base.html' %}

{% block extra_title %}Edit Tag{% endblock %}

{% block content %}

<div class="container">
    <div class="row white-box box-shadow-light-spread my-4">
        <div class="col-12">
            <h1 class="home-listview-heading text-center text-sm-start">
                Edit Tag
            </h1>
        </div>
    </div>
</div>

<div class="container" id="manage-categories">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6 col-xl-4 white-box box-shadow-light-spread mb-4">
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="id_name" class="form-label">Tag</label>
                    {{ form.name }}
                    <div class="form-text">This tag may already be attached to existing posts. 
                        Edits to the tag name <strong>should not change its meaning</strong>.</div>
                </div>
                <button type="submit" class="btn btn-orange">Update</button>
            </form>
        </div>
    </div>
</div>


{% endblock %}