{% extends 'base.html' %}

{% block content %}

<h1>Channel Manager</h1>
<p>Post authors choose from these channels to attach to their posts.
    Then if a student has a question about the post, they are directed to the 
    chosen slack channel to ask about it.
</p>

<table>
    <tbody>
        {% for channel in channels %}
        <tr>
            <td>{{ channel.name }}</td>
            <td class="text-center">
                <a href="{% url 'edit_channel' channel.id %}" aria-label="Edit this category">
                    Edit
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Add new -->
<h2>Add new channel</h2>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <small>To get the channel id, go to the slack app, then right-click the channel name 
        and select "Copy Link". The id is the characters at the end of the url.
    <br>
    For example, if the link to the channel is
    <strong>https://code-institute-room.slack.com/archives/C01DGQ5VCSJ</strong>,
    the channel id is <strong>C01DGQ5VCSJ</strong></small>
    <br>
    <button type="submit">Submit</button>
</form>


{% endblock %}