{% extends 'base.html' %}

{% block content %}

<h1>Library Manager</h1>

<h2>Flagged posts</h2>

<table class="table dashboard-table">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Flagged by</th>
            <th scope="col">Reason for flag</th>
        </tr>
    </thead>
    <tbody>
        {% for post in flagged_posts %}
        <tr>
            <th><a href="{% url 'post_detail' post.pk post.slug %}">{{ post.title }}</a></th>
            <td>{{ post.author.user.username }}</td>
            <td>{{ post.flag.flagger }}</td>
            <td>{{ post.flag.reason }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">
                No flagged posts
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Search user profiles</h2>
<form action="{% url 'profile_search' %}" method="GET">
    <label for="name_q">Search for a user</label>
    <br>
    <input id="name_q" name="name_q" type="text" required>
    <br>
    <small>Search by name or username</small>
    <br>
    <button type="submit">Submit</button>
</form>

<!-- Manage categories -->
<p><a href="{% url 'manage_categories' %}">Manage Categories</a></p>
<!-- Manage slack channels -->
<p><a href="{% url 'manage_channels' %}">Manage Slack Channels</a></p>
<!-- Manage post tags -->
<p><a href="{% url 'manage_tags' %}">Manage Post Tags</a></p>

{% endblock %}
