{% extends 'base.html' %}

{% block content %}

<h1>Library Manager</h1>

<h2>Flagged posts</h2>
{% for post in flagged_posts %}

<h3>{{ post.title }}</h3>
<p>{{ post.author.user.username }}</p>
<strong>{{ post.flag.flagger }}: {{ post.flag.reason }}</strong>
<hr>

{% empty %}

<p>No flagged posts</p>

{% endfor %}

<h2>Search user profiles</h2>
<form action="{% url 'profile_search' %}" method="GET">
    <label for="name_q">Search for a user</label>
    <br>
    <input id="name_q" name="name_q" type="text" required>
    <br>
    <small>Search by name or username</small>
    <br>
    <button type="submit">Submit</button>
</form>

<!-- Manage categories -->
<p><a href="{% url 'manage_categories' %}">Manage Categories</a></p>
<!-- Manage slack channels -->
<p><a href="{% url 'manage_channels' %}">Manage Slack Channels</a></p>
{% endblock %}