{% extends 'base.html' %}
{% block extra_title %}Manage Categories{% endblock %}

{% block content %}

<div class="container">
    <div id="manage-profile" class="row white-box box-shadow-light-spread my-4">
        <div class="col-12">
            <h1 class="home-listview-heading text-center text-sm-start mb-4">
                Manage Categories
            </h1>
        </div>
        <div class="col-12 col-lg-6">
            <table class="table dashboard-table">
                <thead>
                    <tr>
                        <th scope="col">Category Name</th>
                        <th scope="col">Edit Category</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cat in categories %}
                    <tr>
                        <td>{{ cat.name }}</td>
                        <td>
                            <a href="{% url 'edit_category' cat.pk %}" aria-label="Edit this category">
                                Edit
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-12 col-lg-4 mt-4 mt-lg-0">
            <!-- Add new -->
            <h3>Add new category</h3>
            <p>Only add a new category when a new course topic is introduced that cannot use an existing category.</p>
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    {{ form.name }}
                </div>
                <button type="submit" class="btn btn-orange">Add</button>
            </form>
        </div>
    </div>
</div>


{% endblock %}