{% load static %}
<!-- "post-" extension used on classes to avoid calling bootstrap card classes -->
<div class="post-card box-shadow-sharp">
    <div class="post-card-circles-wrapper">
        <div class="post-card-circles">
            {% if post.author.profile_pic %}
                <div class="card-avatar box-shadow-sharp"
                    style="background-image: url('{{ post.author.profile_pic.url }}');"></div>
                </a>
            {% else %}
                <div class="card-avatar box-shadow-sharp" title="Your account"
                    style="background-image: url('/media/images/profiles/default-profile-pic.png');"></div>
            {% endif %}
            <!-- kudos badge class returned from kudos_badge method of UserProfile model-->
            <div class="card-kudos-circle card-mini-circle {{ post.author.kudos_badge }} box-shadow-sharp"
                title="{{ post.author.kudos_badge }}">
                <i class="far fa-star"></i>
            </div>
        </div>
    </div>
    
    <div class="post-card-header text-center">
        <p>
            {% if post.author.user.is_staff %}
            <span class="ci-username-logo"></span>
            {% endif %}
            <a href="{% url 'user_profile' post.author.user.pk %}">{{ post.author.user.username }}</a>
        </p>
    </div>
    <div class="post-card-body">
        <div class="post-card-title d-flex align-items-center text-center justify-content-center">
            <h3>
                <a class="post-card-link" href="{% url 'post_detail' post.pk post.slug  %}">
                {{ post.title }}
                </a>
            </h3>
        </div>
        
        <div class="summary-and-likes d-flex flex-column justify-content-between">
            <p class="post-card-summary">{{ post.summary }}</p>
            <p>
                {% if post.likes.count > 0 %}
                    <i class="far fa-thumbs-up card-likes-icon"></i>
                    {% if post.likes.count > 99 %}
                        <span class="likes-count">99+</span>
                    {% else %}
                        {{ post.likes.count }}
                    {% endif %}
                {% endif %}
            </p>
        </div>
        
        <div class="post-card-category">
            <a href="{% url 'category' post.category.pk post.category.name %}">{{ post.category }}</a>
        </div>
    </div>
</div>