{% load static %}

<nav class="box-shadow-sharp">
    <div id="navbar" class="navbar navbar-expand navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">The Library</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <!--
                    wider screen searchbar for desktop view.
                    mobile search bar appears under main nav on small screens.
                -->
                <form class="d-none d-md-flex ms-2 ms-md-5 responsive-search-bar" method="GET" action="{% url 'search' %}">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q"
                        value="{{ request.GET.q }}" required>
                    <button class="btn btn-outline-blue" type="submit" aria-label="Submit search query">
                        <i class="fas fa-search"></i>
                    </button>
                </form>

                <ul class="navbar-nav right-nav ms-auto">

                    <!-- Post icon when clicked shows dropdown menu for posts by category -->
                    <li class="nav-item dropdown ps-sm-4">
                        <a class="nav-link" href="#" id="categoriesDropdown" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="fas fa-th-list navbar-icon" aria-label="View all posts or choose a category"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="categoriesDropdown">
                            <a class="dropdown-item" href="{% url 'all_posts' %}">All Posts</a>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            
                            {% for category in categories_nav %}
                                {% if category.posts_to_category.count > 0 %}
                                <li>
                                    <a class="dropdown-item"
                                        href="{% url 'filtered_posts' %}?category={{category.pk}}&sort_method=-created_on">{{ category }}</a>
                                </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a href="{% url 'create_post' %}" title="Create a new post"><i
                                class="fas fa-plus navbar-icon nav-link"></i></a>
                    </li>
                    {% if request.user.is_authenticated %}
                    <!-- Bell icon when clicked shows dropdown menu for notifications -->
                    <li class="nav-item dropdown dropdown-menu-end">
                        <a id="notifications" class="nav-link position-relative" href="#" id="userNotificationsDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">

                            {% if total_notifications > 0 and request.user.userprofile.is_mod %}
                            <!--
                                Show bell icon as blue, and animate ringing if there are notifications
                            -->
                                <i id="ringing-bell" class="fas fa-bell navbar-icon"></i>
                            {% elif num_post_flags > 0 and request.user.userprofile.is_admin %}
                                <i id="ringing-bell" class="fas fa-bell navbar-icon"></i>
                            {% else %}
                                <i class="fas fa-bell navbar-icon"></i>
                            {% endif %}
                            
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userNotificationsDropdown">
                            <li class="dropdown-item ps-1">
                                <i class="fas fa-bell dropdown-icon"></i>Notifications
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            {% if request.user.userprofile.is_admin %}
                            <li>
                                <a class="dropdown-item ps-1 position-relative" href="{% url 'manage_flags' %}">
                                    <i class="far fa-flag dropdown-icon"></i>
                                    
                                    {% if num_post_flags > 0 %}
                                        <!--
                                            Show notification circle only if there are notifications to see.
                                            If there are more than 9 notifications, show "9+" instead of the
                                            total. This allows for large numbers that would break out of
                                            the notification circle.
                                        -->
                                        <div class="notification-num">
                                            {% if num_post_flags < 10 %}
                                                {{ num_post_flags }}
                                            {% else %}
                                                9+
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                    Flagged posts
                                </a>
                            </li>
                            {% endif %}
                            {% if request.user.userprofile.is_mod %}
                            <li>
                                <a class="dropdown-item ps-1 position-relative" href="{% url 'review_posts' %}">
                                    <i class="fas fa-clock dropdown-icon"></i>
                                    
                                    {% if num_posts_to_review > 0 %}
                                        <!--
                                            Show notification circle only if there are notifications to see.
                                            If there are more than 9 notifications, show "9+" instead of the
                                            total. This allows for large numbers that would break out of
                                            the notification circle.
                                        -->
                                        <div class="notification-num">
                                            {% if num_posts_to_review < 10 %}
                                                {{ num_posts_to_review }}
                                            {% else %}
                                                9+
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                    Posts waiting for review
                                </a>
                            </li>
                            {% endif %}
                            <li>
                                <a class="dropdown-item ps-1 position-relative" href="{% url 'dashboard'%}">
                                    <i class="fas fa-pen-square dropdown-icon"></i>
                                    
                                    {% if num_author_posts_in_review > 0 %}
                                        <!-- see notes for notification circle above -->
                                        <div class="notification-num">
                                            {% if num_author_posts_in_review < 10 %}
                                                {{ num_author_posts_in_review }}
                                            {% else %}
                                                9+
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                    Posts in review
                                </a>
                            </li>
                        </ul>
                    </li>
                    {% if request.user.userprofile.is_admin %}
                    <li class="nav-item dropdown dropdown-menu-end">
                        <a id="manager-dropdown" class="nav-link position-relative" href="#" id="managerDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-wrench navbar-icon"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="managerDropdown">
                            <li class="dropdown-item ps-1">
                                <i class="fas fa-wrench dropdown-icon"></i>Library Manager
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item ps-1 position-relative" href="{% url 'manage_flags' %}">
                                    <i class="far fa-flag dropdown-icon"></i>
                                    Flagged posts
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item ps-1 position-relative" href="{% url 'profile_search' %}">
                                    <i class="fas fa-users-cog dropdown-icon"></i>Users
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item ps-1 position-relative" href="{% url 'manage_categories' %}">
                                    <i class="fas fa-th dropdown-icon"></i>Categories
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item ps-1 position-relative" href="{% url 'manage_tags' %}">
                                    <i class="fas fa-tags dropdown-icon"></i>Tags
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item ps-1 position-relative" href="{% url 'manage_channels' %}">
                                    <i class="fab fa-slack dropdown-icon"></i>Slack Channels
                                </a>
                            </li>
                        </ul>
                    </li>
                    {% endif %}
                    <!--
                        Avatar circle displays users profile_pic. 
                        When clicked, it shows dropdown menu user account options.
                    -->
                    <li class="nav-item dropdown">
                        <a class="nav-link p-0" href="#" id="userInfoDropdown" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            {% if request.user.userprofile.profile_pic %}
                            <div class="navbar-avatar" title="Your account"
                                style="background-image: url('{{ request.user.userprofile.profile_pic.url }}');"></div>
                            {% else %}
                            <div class="navbar-avatar" title="Your account"
                                style="background-image: url('https://ci-student-library.s3.amazonaws.com/media/images/profiles/default-profile-pic.png');"></div>
                            {% endif %}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userInfoDropdown">
                            <!-- Header of dropdown shows users avatar, and their name (if provided )-->
                            <div class="dropdown-header d-flex">
                                {% if request.user.userprofile.profile_pic %}
                                <div class="navbar-avatar m-0 mt-1"
                                    style="background-image: url('{{ request.user.userprofile.profile_pic.url }}');"></div>
                                {% else %}
                                <div class="navbar-avatar m-0 mt-1"
                                    style="background-image: url('https://ci-student-library.s3.amazonaws.com/media/images/profiles/default-profile-pic.png');"></div>
                                {% endif %}

                                <div class="ps-3">
                                    {% if request.user.userprofile.is_staff %}
                                    <div class="ci-username-logo"></div>
                                    {% endif %}
                                    {{ request.user.username }}
                                    <br>
                                    {% if request.user.first_name %}{{ request.user.first_name }}{% endif %}
                                    {% if request.user.last_name %}{{ request.user.last_name }}{% endif %}
                                </div>
                            </div>

                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item ps-1" href="{% url 'user_profile' request.user.pk %}">
                                    <i class="fas fa-user dropdown-icon"></i> Profile
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item ps-1" href="{% url 'bookmarks' %}">
                                    <i class="fas fa-bookmark dropdown-icon"></i> Bookmarks</a>
                            </li>
                            <li>
                                <a class="dropdown-item ps-1" href="{% url 'dashboard' %}">
                                    <i class="fas fa-th-list dropdown-icon"></i> Posts Dashboard</a>
                            </li>
                            <li>
                                <a class="dropdown-item ps-1" href="{% url 'settings' request.user.pk %}">
                                    <i class="fas fa-cog dropdown-icon"></i> Settings
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item ps-1" href="{% url 'account_logout' %}">
                                    <i class="fas fa-sign-out-alt dropdown-icon"></i> Log out
                                </a>
                            </li>
                        </ul>
                    </li>
                {% else %}
                    <!-- Post icon when clicked shows dropdown menu for posts by category -->
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="accountDropdown" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="fas fa-user-circle navbar-icon" aria-label="View account options"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="accountDropdown">
                            <a class="dropdown-item" href="#">Account</a>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item"
                                    href="{% url 'account_login' %}">Log in</a>
                            </li>
                            <li>
                                <a class="dropdown-item"
                                    href="{% url 'account_signup' %}">Create account</a>
                            </li>
                        </ul>
                    </li>
                {% endif %}
                </ul>
            </div>
        </div>
    </div>

    <!-- search bar for smaller devices when it doesn't fit on the same line as the nav icons -->
    <div id="mobile-search" class="navbar navbar-light d-md-none mobile-search-bar">
        <div class="container-fluid">
            <form class="mx-auto d-flex responsive-search-bar" method="GET" action="{% url 'search' %}">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q"
                    value="{{ request.GET.q }}" required>
                <button class="btn btn-outline-blue" type="submit" aria-label="Submit search query">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>
    </div>
</nav>