{% load static %}

<nav>
    <div id="navbar" class="navbar navbar-expand-sm navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">The Library</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <!-- wider screen searchbar -->
                <form class="d-none d-sm-flex mx-auto" method="GET" action="{% url 'search' %}">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q"
                        value="{{ request.GET.q }}">
                    <button class="btn btn-outline-blue" type="submit" aria-label="Submit search query">
                        <i class="fas fa-search"></i>
                    </button>
                </form>

                <ul class="navbar-nav right-nav">

                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="categoriesDropdown" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <!-- Post icon when clicked shows dropdown menu -->
                            <i class="fas fa-th-list navbar-icon" aria-label="View all posts or choose a category"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="categoriesDropdown">
                            <a class="dropdown-item" href="{% url 'all_posts' %}">All Posts</a>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            {% for category in categories_nav %}
                            <li><a class="dropdown-item"
                                    href="{% url 'category' category.id category|slugify %}">{{ category }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a href="{% url 'create_post' %}" title="Create a new post"><i
                                class="fas fa-plus navbar-icon nav-link"></i></a>
                    </li>

                    <li class="nav-item dropdown dropdown-menu-end">
                        <a class="nav-link" href="#" id="userNotificationsDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-bell navbar-icon"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userNotificationsDropdown">
                            {% if user.userprofile.is_mod %}
                            <li><a class="dropdown-item" href="{% url 'review_posts' %}"><i class="far fa-clock"></i>
                                    Posts waiting for review</a></li>
                            {% endif %}
                            <li><a class="dropdown-item" href="{% url 'user_profile' user.pk %}"><i
                                        class="far fa-edit"></i> Posts in review</a></li>
                        </ul>
                    </li>


                    <li class="nav-item dropdown">
                        <a class="nav-link p-0" href="#" id="userInfoDropdown" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            {% if user.userprofile.profile_pic.url %}
                            <div class="navbar-avatar" title="Your account"
                                style="background-image: url('{{ user.userprofile.profile_pic.url }}');"></div>
                            {% else %}
                            <div class="navbar-avatar" title="Your account"
                                style="background-image: url('/media/images/profiles/default-profile-pic.png');"></div>
                            {% endif %}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userInfoDropdown">
                            <!-- Header of dropdown shows users avatar, and their name (if provided )-->
                            <div class="dropdown-header d-flex">
                                {% if user.userprofile.profile_pic.url %}
                                    <div class="navbar-avatar m-0 mt-1"
                                        style="background-image: url('{{ user.userprofile.profile_pic.url }}');"></div>
                                {% else %}
                                    <div class="navbar-avatar m-0 mt-1"
                                        style="background-image: url('/media/images/profiles/default-profile-pic.png');"></div>
                                {% endif %}
                                <div class="ps-3">
                                    {% if user.userprofile.is_staff %}
                                    <div class="ci-username-logo"></div>
                                    {% endif %}
                                    {{ user.username }}
                                    <br>
                                    {% if user.first_name %}{{ user.first_name }}{% endif %}
                                    {% if user.last_name %}{{ user.last_name }}{% endif %}
                                </div>
                            </div>
                            
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{% url 'user_profile' user.pk %}">My profile</a></li>
                            <li><a class="dropdown-item" href="{% url 'bookmarks' user.pk %}">My Bookmarks</a></li>
                            <li><a class="dropdown-item" href="{% url 'settings' user.pk %}">Settings</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{% url 'account_logout' %}">Log out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="navbar navbar-light d-sm-none mobile-search-bar">
        <div class="container-fluid">
            <form class="mx-auto d-flex w-100 d-inline" method="GET" action="{% url 'search' %}">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q"
                    value="{{ request.GET.q }}">
                <button class="btn btn-outline-blue" type="submit" aria-label="Submit search query">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>
    </div>
</nav>