{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">The Library</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'all_posts' %}">All Posts</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="categoriesDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Categories
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="categoriesDropdown">
                        {% for category in categories_nav %}
                        <li><a class="dropdown-item" href="{% url 'category' category.id category|slugify %}">{{ category }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userInfoDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        User info
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="userInfoDropdown">
                        {% if user.is_authenticated %}
                        <!-- options for logged in users -->
                        <li><a class="dropdown-item" href="{% url 'account_logout' %}">Log out</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'create_post' %}">Create new post</a></li>
                        <li><a class="dropdown-item" href="{% url 'bookmarks' user.pk %}">My Bookmarks</a></li>
                        <li><a class="dropdown-item" href="{% url 'user_profile' user.pk %}">My profile</a></li>
                        <li><a class="dropdown-item" href="{% url 'settings' user.pk %}">Settings</a></li>

                        {% else %}
                        <!-- menu options for users not logged in -->
                        <li><a class="dropdown-item" href="{% url 'account_signup' %}">Sign up</a></li>
                        <li><a class="dropdown-item" href="{% url 'account_login' %}">Log in</a></li>
                        {% endif %}
                    </ul>
                </li>
                {% if user.userprofile.is_mod %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'review_posts' %}">Review posts</a>
                </li>
                {% endif %}
            </ul>
            <form class="d-flex" method="GET" action="{% url 'search' %}">
                <input class="form-control me-2" type="search" placeholder="Search" 
                    aria-label="Search" name="q" value="{{ request.GET.q }}">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>